<div class="text-center">
  <img [src]="product.imageUrl" class="card-img-top product_image" alt="{{ product.title }}">
</div>

<div class="card-body">
  <h5 class="card-title product_title">{{ product.title }}</h5>
  <p class="card-text">{{ product.price | currency:'EUR':'symbol-narrow'}}</p>
  <p class="card-text">{{ product.category}}</p>

</div>
<div *ngIf="showActions" class="card-footer p-0">
  <button *ngIf="getQuantity() === undefined || getQuantity() === 0; else updateQuantity" (click)="addToCard()"

          class="btn btn-secondary btn-block rounded-0 btn-sm" >
    Add to card</button>
  <ng-template #updateQuantity>
    <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
<!--    <div class="row no-gutters">-->
<!--      <div class="col-md-2">-->
<!--        <button  (click)="removeFromCart()" class="btn btn-secondary btn-block">-</button>-->
<!--      </div>-->
<!--      <div class="col text-center">-->
<!--        {{  getQuantity() }} in cart-->
<!--      </div>-->

<!--      <div class="col-md-2">-->
<!--         <button (click)="addToCard()" class="btn btn-secondary btn-block">+</button>-->
<!--      </div>-->
<!--    </div>-->

  </ng-template>

</div>
