
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">Seifex</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul ngbNav class="navbar-nav mr-auto">
      <ng-template #anonymousUser>
         <li ngbNavItem  routerLink="/login">

          <a ngbNavLink>Login</a>
      </li>
      </ng-template>


       <li routerLinkActive="active current"  ngbNavItem routerLink="products">
        <a ngbNavLink>Products</a>
      </li>
       <li routerLinkActive="active current"  ngbNavItem routerLink="shopping-cart">
        <a ngbNavLink>Shopping Cart  <span class="badge badge-warning pill">{{shoppingCartItemsCount}}</span></a>

      </li>

      <li *ngIf="auth.user$ | async as user; else anonymousUser" ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
        >{{user.displayName}} </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/my/orders">My Orders</a>

          <a *ngIf="isAdmin" class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
          <a *ngIf="isAdmin" class="dropdown-item" routerLink="/admin/products">Manage Products</a>

          <a   class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>

  </div>
</nav>



